/* Fonts import */
@import url('fonts.css');

/* main styles */

.wrapper {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    max-width: 1440px;
}

.small-text {
    font-size: 12px;
    line-height: 15px;
    margin: 0;
}


/* header menu */

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 24px 3.5% 0 43px;

}

.model,
.shop {
    align-items: center;
    padding-top: 16px;
}

.shop {
    margin-right: 30px;
}

.model__item,
.shop__item {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 5px;
    text-decoration: none;
    text-align: center;
}

.model__item:visited,
.shop__item:visited {
    color: #000;
    text-decoration: none;
}

.model__item {
    margin-right: 25px;
}

.model__item:last-child {
    margin-right: 30px;
}

.shop__item {
    margin-right: 30px;
}

.model__item:hover,
.shop__item:hover {
    color: #E51937;
    border: 1px solid #E51937;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
}

.shop__item:last-child:hover {
    border: transparent;
    border-bottom-style: hidden;
}


/* promo section */

.model-s {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
}

.tesla {
    position: absolute;
    top: 10%;
    z-index: -10;

}

.model-s__title {
    font-size: 90px;
    line-height: 95px;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 0;
    margin-top: 66px;
}

.model-s__slogan {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    margin: 0 0 20px 0;
}

.model-s__image-big {
    max-width: 968px;
    max-height: 450px;
    margin: 0 auto;
    padding: 1%;
}

.tech-details {
    display: flex;
    flex-direction: row nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.3%;
}

.tech-details__item {
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-right: 20px;
}

.tech-details__item:nth-child(2) {
    padding-right: 30px;
}

.tech-details__item:nth-child(3) {
    padding-left: 30px;
}

.tech-details__item:nth-child(4) {
    padding-right: 10%;
}

.tech-details__image {
    margin-right: 10px;
}

.tech-details__title {
    font-size: 35px;
    font-weight: 600;
    line-height: 43px;
    margin: 0;
    padding: 0;
}

.tech-details__title_small {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.tech-details__text {
    grid-area: 'text';
    margin: 0;
}

.test {
    color: #000;
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
}

/* promo section button */

.promo__order {
    border: 2px solid #E51937;
    background: transparent;
    color: #E51937;
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
    margin-left: 7%;
    padding: 8px 42px;
    text-transform: uppercase;
    text-align: center;
}

.promo__order:hover {
    color: #fff;
    background: #E51937;
}

.promo__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-down {
    border: none;
    background: transparent;
    cursor: pointer;
    margin: 0 auto 30px auto;
}

.bottom-line {
    border: 1px solid #E51937;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
    width: 100%;
}


/* Specs section */

.specs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: relative;
}

.tesla-inside {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.specs__title {
    color: #E51937;
    font-size: 70px;
    font-weight: 600;
    line-height: 92px;
    padding-left: 5.5%;
}

.specs__content {
    background: #e51937;
    color: #fff;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-end;
    max-width: 440px;
    max-height: 900px;
}

.promo-title {
    font-size: 30px;
    font-weight: 600;
}

.text {
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
}

.specs__promo-title {
    padding: 20px 0 0 50px;
    margin-bottom: 10px;
}

.specs__desc {
    padding: 0 50px 10px 50px;
    margin-top: 0;
    padding-bottom: 11%;
}

.btn-order {
    border: 2px solid #FFF;
    background: transparent;
    color: #FFF;
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
    padding: 8px 42px;
    text-transform: uppercase;
    text-align: center;
}

.btn-order:hover {
    color: #E51937;
    background: #fff;
    border: 2px solid #fff;
}

.specs__image {
    align-self: center;
    margin: 0 20px 0 32px;
}

.img-info {
    margin: 0 10px;
}

.specs__text {
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 60%;
    margin-bottom: 10px;
}

.title {
    padding: 0;
    margin: 0;
}

.title__span {
    font-size: 35px;
    font-weight: 600;
    line-height: 43px;
}



.specs__item,
.specs__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.specs__item {
    width: 70%;
    margin-bottom: 35px;
}

.specs__footer {
    padding: 25% 3% 10% 0;
    margin-bottom: 30px;
}

.text-info {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
    padding-right: 34px;
    text-decoration: none;
    text-transform: uppercase;
}


/* security section */

.security {
    display: flex;
    flex-direction: row;
    position: relative;
}

.security_watermark {
    position: absolute;
    top: 140px;
    right: 0;
    z-index: -10;
}

.security__promo-title {
    margin: 11% auto 0;
    padding-left: 12%;
}

.security__text {
    padding: 0 12%;
}

.security__content {
    background: #E51937;
    color: #FFF;
    display: flex;
    flex-direction: column;
    max-width: 440px;
}

.security__ratings-title {
    display: flex;
    justify-content: flex-start;
    font-size: 30px;
    font-weight: 600;
    margin: 45px auto 10px auto;
    padding-left: 56px;
}

.ratings {
    display: grid;
    grid-template-areas: 'l-cell r-cell'
        'l-cell r-cell'
        'l-cell r-cell'
        'l-cell r-cell'
        'l-cell r-cell';
    margin: 0;
}

.ratings:last-child {
    margin: 0 auto 15% auto;
}

.ratings__title {
    grid-area: 'l-cell';
    align-self: center;
    justify-self: start;
    text-transform: uppercase;
    padding-left: 50px;
    margin: 10px;
}

.five-stars {
    grid-area: 'r-cell';
    align-self: center;
    justify-self: end;
    padding-right: 35%;
}

.extra-small {
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
}

.security__footer_top {
    display: grid;
    grid-template-areas: 'l-cell r-cell'
        'l-cell r-cell';
    margin-bottom: 18px;
}

.security__footer_bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    max-width: 95%;
}

.security__image {
    grid-area: 'l-cell l-cell';
    padding-left: 64px;
    align-self: center;
    justify-self: end;
}

.footer__title {
    grid-area: 'r-cell';
    align-self: end;
    font-size: 50px;
    font-weight: 600;
    line-height: 30px;
    padding-left: 10%;
}

.footer__title_small {
    grid-area: r-cell;
    font-size: 25px;
    align-self: start;
}

.footer__title_small {
    grid-area: r-cell;
}

.security__scheme-image {
    position: absolute;
    top: 19.5%;
    right: 3.2%;
    z-index: 10;
}

.rbc-item-top {
    position: absolute;
    right: 20px;
    bottom: 40px;
}

.rbc-item-bottom {
    position: absolute;
    right: 15px;
    bottom: 10px;
}